{% for post in page_obj %}
  <article>
    <ul>
      <li>
        Автор:
        <a href="{% url 'users:profile' post.author.username %}">
            {{ post.author.get_full_name }}
        </a>
      </li>
      <li>
        Группа:
        {% if post.group %}
        <a href="{{ post.group.get_absolute_url }}">
            {{ post.group.title }}
        </a>
        {% endif %}
      </li>
      <li>
        Дата публикации: {{ post.created_at|date:"d E Y" }}
      </li>
    </ul>
    <p>
        {{ post.text|linebreaksbr }}
    </p>        
    <a href="{% url 'posts:post_detail' post.id %}">
        подробная информация
    </a>
  </article>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
